.colorGreen{
    color: green;
    font: italic 20px cursive;
    background: rgb(235, 231, 231);
    text-align: center;
}
.colorB {
    background-color: rgb(158, 102, 102);
    padding: 9px 20px;
    text-align: center;

  }
  .body {
    background-color: rgb(216, 250, 223);
  }
  .input{
    padding: 9px 22px;
 }